@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar (Copied from index.html) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b026ff;
}
